*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0D3257;
    color: white;
}
header{
    display: flex;
    flex-wrap: wrap;
}
h2{
    margin-left: 77px;
    display: flex;


}
a{
    outline: none;
    text-decoration: none;
    color:  white;
    align-items: center;
}
 .menu{
     width: 100%;
     background-color: #13487f;
     position: sticky;
     top: 0;
     z-index: 2;
     display: flex;
     align-items: center;


 }
 .menu ul{
     list-style-type: none;
     display: flex;
     flex-wrap: wrap;
     align-items: start;

     margin: 15px 0 15px  350px ;

 }
 .menu ul li{
     padding-right:  91px;
 }
.textbar{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 126px  0 0 136px;
    z-index: 1;


}
.textbar h1{
    font-size: 60px;

}
.textbar p{
    font-size: 40px;
    margin-top: 9px;
}
.img{
    position: relative;
    top: 0;
    display: flex;
    margin-left: 300px;
    max-width: 100%;
    background-color: rgba(13,50,87, 0.5);
    overflow: hidden;
}
.img img{
    z-index: -1;
    max-width: 100%;


}
.slider{
    background-color: white;
    width: 100%;
    height:100px;
}